.content-container{
    width: 100vw;
    height: 40vh;
}

.img-dimensions{
    width: 100vw;
    height: 40vh;
}
.info-container{
    text-align: center;
    line-height: .8;
    background: white;
    min-height: 53vh;
}

.venue-container{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

span{
    font-weight: bold;
}

.add-btn{
    background: #4527a0;
    color: white;
    border:none;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    margin-top: 10px;
}
.open{
    color: green;
}
.close{
    color: red;
}

.fa-star{
    color: gold;
}