.shoppingWrapper {
    display: flex;
    justify-content: center;
}

.shoppingDropDown {
    position: relative;
    right: 0;
    left: 0;
    width: 10vw;
    height: 3vh;
    font-size: 1.3em;
    margin: auto;
    background:#d9d9d9;
}

@media (max-width: 1024px) {

    .shoppingDropDown {
        width: 30vw;
        height: 4vh;
        font-size: 1.2em;
    }
}

@media (max-width: 768px) {

    .shoppingDropDown {
        width: 30vw;
        height: 3vh;
    }
}

@media (max-width: 414px) {

    .shoppingDropDown {
        width: 35vw;
        height: 3.5vh;
        font-size: 1em;
    }
}