.mainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(199, 35, 35);
    width: 100vw;
    height: 100vh;
}

.registerCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: 96vh;
    margin-top: 1vh;
    background: rgb(4, 151, 144)
}

.first-name, .last-name, .user-name, .reg-address, .reg-password, .reg-state, .reg-city, .reg-zip, .profile-pic {
    width: 80vw;
    padding: 5px;
    border-radius: 5px;
    margin-top: 3vh;
}

.label {
    margin-top: 3vh;
    width: 84vw;
    text-align: left;
}

.profile-pic {
    margin-top: 1vh;
    color: white;
}

.reg-title {
    width: 80vw;
    height: 8vh;
    font-size: 1.7em;
}

.sign-up {
    background: red;
    padding: 10px;
    border-radius: 8px;
    width: 50vw;
    margin-top: 1vh;
    color: white;
    font-size: 1em;
    border: none;
}