.routeMain {
    display: flex;
    flex-direction: column;
}

.routeScreen {
    width: 100vw;
    height: 8vh;
    background: #d9d9d9;
    display: flex;
    justify-content: flex-end;
}

.mapRoute {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #69a535;
    width: 10vh;
    text-decoration: none;
    height: 5vh;
    color: white;
    border-radius: 5px;
    position: relative;
    top: 1vh;
    margin-right: 4vw;
    text-align: center;
}

.spacerRoute {
    height: 3.5vh;
    background: #d9d9d9;
}

.myRoute {
    height: 5vh;
    top: 0;
    position: relative;
    margin-right: 21vw;
    margin-top: 1vh;
}

.routeDisplay {
    flex-direction: column;
    width: 100vw;
    height: auto;
}