/*These swal classNames change the notifications in the Register2 and VenueCard components as well */

.swal-modal {
    height: 50vh;
}

.swal-title {
    color: #4527a0;
    padding-bottom: 2vh !important;
}

.swal-text {
    color: #4527a0;
    border-radius: 5px;
    margin-top: 3vh;
}

@media (max-width: 2400px) {

    .login-container {
        background: url("https://s3.us-east-2.amazonaws.com/first-night-out/main+backgroung.png");
        background-size: 100vw 100vh;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-btn{
        width: 175px;
        height: 50px;
        font-size: 24px;
        text-transform: uppercase;
        margin-top: 10px;
        cursor: pointer;
        background: #69a535;
        border: none;
        color: white;
    }
    
    .sign-up-btn{
        background: none;
        color: white;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        font-size: 1.5em;
    }
    
    .login-input{
        line-height: 1.8;
        margin: 20px;
        width: 25vw;
        background: none;
        border: none;
        border-bottom: 1px solid #d9d9d9;
        outline: none;
        color: white;
        font-size: 1.7em;
        padding-left: 5px;
    }

    .login-logo{
        min-width: 40vw;
        height: 8vh;
        margin-top: 20vh;
        margin-bottom: 5%;
    }
}

@media (max-width: 1024px) {

    .login-input{
        line-height: 1.6;
        width: 350px;
        font-size: 1.5em;
        padding-left: 3px;
    }

    .main-btn{
        width: 150px;
        height: 40px;
        font-size: 24px;
        text-transform: uppercase;
    }

    .sign-up-btn{
        margin-top: 10px;
        font-size: 1.3em;
    }
}

@media (max-width: 414px) {

    .login-container {
        width: 100vw;
        height: 100vh;
    }

    .main-btn{
        width: 200px;
        height: 32px;
        font-size: 15px;
        margin-top: 10px;
    }
    
    .sign-up-btn{
        font-size: .8em;
    }
    
    .login-logo{
        width: 65vw;
        height: 9vh;
        margin-top: 40%;
        margin-bottom: 10%;
    }
    
    .login-input{
        line-height: 1.8;
        margin: 20px;
        width: 200px;
        font-size: .8em;
    }
}