.navBarMain {
    width: 100vw;
    height: 7vh;
    background: #4527a0;
}

.fa-bars {
    font-size: 1.8em;
    font-weight: bold;
    width: 10vw;
    height: 5vh;
    margin-top: 1vh;
    margin-left: 2vw;
    color: white;
}

.fa-search, .fa-home {
    display: flex;
    margin-right: 10vw;
    color: rgb(153, 152, 152);
}

.fa-user-alt {
    display: flex;
    margin-right: 7vw;
    color: rgb(153, 152, 152);
}

.navLogo {
    width: 70vw;
    height: 10vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.navPopOutHeader {
    display: flex;  
    justify-content: flex-end;
    width: 90vw;
    height: 7vh;
    background: #4527A0;
}

.exitButton {
    border: none;
    color: white;
    background: #4527A0;
}

.navDropDownMenu {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 90vw;
    background: white;
    transition: .5s;
    z-index: 40;
}

.navDropDownMenuText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoutButton {
    background: #4527a0;
    min-width: 40vw;
    min-height: 6vh;
    border: none;
    font-size: 1em;
    color: white;
    margin-top: 5vh;
    border-radius: 5px;
}

.hideNavDropDownMenu {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0vw;
    background: #d9d9d9;
    transition: .5s;
    z-index: 40;
}

.navLog {
    display: flex;
    align-items: center;
}

.accountImgDiv, .createLink, .searchImgDiv, .homeImgDiv { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105vw;
    height: 10vh;
}

.createLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 91vw;
    height: 10vh;
    border-top: 1px solid #d9d9d9; 
    margin-right: 1vw;
}

.accountLink, .homeLink, .searchLink, .createLink {
    text-decoration: none;
    color: black;
}

.accountImgDiv, .searchImgDiv, .homeImgDiv {
    border-top: 1px solid #d9d9d9; 
    margin-right: 15vw;
}

.homeImgDiv {
    border-bottom: 1px solid #d9d9d9; 
}